@font-face {
  font-family: 'notosansbold';
  src: url('../assets/fonts/NotoSansJP-Bold.otf');
}

@font-face {
  font-family: 'notosanslight';
  src: url('../assets/fonts/NotoSansJP-Light.otf');
}

@font-face {
  font-family: 'notosansregular';
  src: url('../assets/fonts/NotoSansJP-Regular.otf');
}

@font-face {
  font-family: 'notosansthin';
  src: url('../assets/fonts/NotoSansJP-Thin.otf');
}